.*/
!.git*
~*
*~
*.bak
*.coffee
*.crx
*.gz
*.js
*.log
*.mp4
*.old
*.psd
*.swp
*.tar
*.tgz
*.tsbuild*
.ts*
*.wmv
*.zip
dist
dist/
front/*.png
node_modules*
test.*
!/tests/**
todo*
!gulpfile.js
!tsc.js
!/lib/math_parser.js
!/lib/viewer.min.js
!/scripts/*.js
weidu/
helpers/
scripts/*public_suffix*
scripts/*releases*
icons/*.bin
package-lock.json
npm-shrinkwrap.json
# the below are just to make vscode ignore those on finding
/.eslintrc.json
typings/base/
!typings/base/base.d.ts
scripts/*.pem.enc
