.*/
!.git*
~*
*~
*.bak
*.coffee
*.crx
*.gz
*.js
*.log
*.old
*.psd
*.sh
*.swp
*.tar
*.tgz
*.tsbuild*
.ts*
*.zip
dist
dist/
front/*.png
node_modules*
test.*
!/tests/**
todo*
!Gulpfile.js
!make.sh
!tsc.js
!/lib/math_parser.js
!/lib/viewer.min.js
!/scripts/*.js
weidu/
helpers/
scripts/*public_suffix*
package-lock.json
scripts/*releases*
icons/*.bin
# just to make vscode ignore those on finding
types/base/
