* crlf=input
*.bin binary
*.bmp binary
*.crx binary
*.enc binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.xpi binary
*.js linguist-detectable=false linguist-language=JavaScript
*.json linguist-language=jsonc
*.rb linguist-vendored
*.py linguist-detectable=false linguist-language=Python
*.sh linguist-detectable=false linguist-language=Shell
lib/math_parser.js linguist-vendored
lib/viewer.min.css  linguist-generated=true linguist-vendored=true linguist-language=CSS
lib/viewer.min.js  linguist-generated=true linguist-vendored=true linguist-language=JavaScript
tests/*.html linguist-detectable=false linguist-language=HTML
tests/**/*.html linguist-detectable=false linguist-language=HTML
typings/base/* linguist-vendored
typings/base/base.d.ts linguist-vendored=false
typings/lib/* linguist-detectable=false
