* crlf=input
*.bmp binary
*.crx binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.sh linguist-language=Text
tsc.js linguist-language=Text
Gulpfile.js linguist-language=Text
lib/math_parser.js linguist-vendored
pages/newtab.js linguist-language=TypeScript
types/* linguist-vendored
types/*.d.ts linguist-vendored=false
types/base/* linguist-vendored
types/base/base.d.ts linguist-vendored=false
weidu/* linguist-vendored
