.*/
!.git*
~*
*~
*.bak
*.coffee
*.crx
*.gz
*.js
*.old
*.sh
*.swp
*.tar
*.tgz
*.zip
dist/
front/*.png
node_modules*
test*
todo*
!Gulpfile.js
!make.sh
!tsconfig.json
!tsc.js
!/lib/math_parser.js
!/lib/viewer.min.js
!/pages/newtab.js
!/weidu/*/*.js
