* crlf=input
*.bmp binary
*.crx binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.sh linguist-language=Text
lib/math_parser.js linguist-vendored
types/* linguist-vendored
types/vimiumplus* linguist-vendored=false
weidu/* linguist-vendored
