/*
 * Many CSS class names in this file use the verbose "vimiumXYZ" as the class name. This is so we don't
 * use the same CSS class names that the page is using, so the page's CSS doesn't mess with the style of our
 * Vimium dialogs.
 *
 * The z-indexes of Vimium elements are very large, because we always want them to show on top. Chrome may
 * support up to Number.MAX_VALUE, which is approximately 1.7976e+308. We're using 2^31, which is the max
 * value of a singed 32 bit int. Let's try larger valeus if 2**31 empirically isn't large enough.
 *
 *
 * vimB: vimium Base; vimR: Reset; vimI: Inherit; vimL: Link; vimS: Selected
 *
 * i$: internal; HMC: HintMarkerContainer; LH: LinkHint; MC: MatchingCharacter; IH: InputHint;
 * HUD: HUD; O: vOmnibar; OI: vOmnibarItem
 *
 * This "vimB vimI" class can be added to any of our UI elements to give it a clean slate. This is useful in
 * case the page has declared a broad rule like "a { padding: 50px; }" which will mess up our UI. These
 * declarations contain more specifiers than necessary to increase their specificity (precedence).
 */
.vimR.vimB {
	background: none;
	background-image: none;
	border: none;
	border-image: none;
	bottom: auto;
	box-shadow: none;
	box-sizing: content-box;
	color: black;
	cursor: auto;
	display: block;
	float: none;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	left: auto;
	letter-spacing: 0;
	line-height: 100%;
	margin: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	opacity: 1;
	overflow: hidden;
	padding: 0;
	position: static;
	right: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	top: auto;
	vertical-align: baseline;
	white-space: normal;
	width: auto;
	z-index: 99999990;
}
.vimI.vimB {
	background: none;
	background-image: none;
	border: none;
	border-image: none;
	bottom: auto;
	box-shadow: none;
	box-sizing: content-box;
	color: inherit;
	cursor: auto;
	display: inline;
	float: none;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
	height: auto;
	left: auto;
	letter-spacing: inherit;
	line-height: inherit;
	margin: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	opacity: 1;
	overflow: visible;
	padding: 0;
	position: static;
	right: auto;
	text-align: inherit;
	text-decoration: inherit;
	text-indent: inherit;
	text-shadow: inherit;
	text-transform: inherit;
	top: auto;
	vertical-align: inherit;
	white-space: inherit;
	width: auto;
	z-index: auto;
}

.vimL.vimB,
.vimL:visited,
.vimL:link,
.vimL:hover {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

/* Linkhints CSS */
#vimHMC.vimB {
	font-weight: bold;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	white-space: nowrap;
	width: 100%;
	z-index: 99999994;
}
.vimLHi.vimB {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
	border: 1px solid #E3BE23;
	border-radius: 3px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
	padding: 1px 3px 0px 3px;
	/* pointer-events: auto; */
	position: absolute;
}
.vimMC.vimB {
	color: #D4AC3A;
}

/* Input hints CSS */
.vimIHi.vimB {
	background-color: rgba(255, 247, 133, 0.3);
	border: 1px solid #C38A22;
	display: block;
	pointer-events: none;
	position: absolute;
}
.vimIHi.vimS {
	background-color: rgba(255, 102, 102, 0.3);
	border: 1px solid #993333 !important;
}

/* Vimium HUD CSS */
.vimHUD.vimB {
	background-color: #ebebeb;
	border: 1px solid #b3b3b3;
	border-radius: 4px 4px 0 0;
	bottom: 0px;
	font-family: "Lucida Grande", "Arial", "Sans";
	min-height: 13px;
	max-width: 400px;
	min-width: 150px;
	padding: 3px 3px 2px 3px;
	position: fixed;
	/* less than vimium's hint markers, so link hints can be shown e.g. for the panel's close button. */
	z-index: 99999993;
	text-shadow: 0px 1px 2px #FFF;
	opacity: 0;
}
.vimHUDClose.vimB {
	-webkit-user-select: none;
	color: #9C9A9A;
	float: right;
	font-family: "Courier New";
	font-size: 14px;
	font-weight: bold;
	margin-top: -1px;
	padding-left: 10px;
	text-decoration: none;
}
.vimHUDClose:hover {
	-webkit-user-select: none;
	color: #333333;
}

/* Vimium Flash */
.vimFlash.vimB {
	box-shadow: 0px 0px 4px 2px #4183C4;
	padding: 1px;
	pointer-events: none;
	position: absolute;
	z-index: 99999999;
}

/* Vimium Scrollbar */
.vimScroll::-webkit-scrollbar,
.vimScroll::-webkit-scrollbar-track,
.vimScroll::-webkit-scrollbar-thumb {
	background: none;
	border: none;
	border-radius: 5px;
	box-shadow: none;
}
.vimScroll::-webkit-scrollbar:vertical {
	width: 10px;
}
.vimScroll::-webkit-scrollbar:horizontal {
	height: 10px;
}
.vimScroll::-webkit-scrollbar-thumb,
.vimScroll::-webkit-scrollbar-thumb:window-inactive,
.vimScroll::-webkit-scrollbar-track:hover {
	background: rgba(96, 96, 96, 0.4);
}
.vimScroll::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.6);
}

/* UIComponent CSS */
.vimUIHidden.vimB {
  display: none;
}
.vimUIVisible.vimB {
  display: block;
}
.vimUIReactivated.vimB {
  border: 5px solid yellow;
}