/*
 * Many CSS class names in this file use the verbose "vimiumXYZ" as the class name. This is so we don't
 * use the same CSS class names that the page is using, so the page's CSS doesn't mess with the style of our
 * Vimium dialogs.
 */

/*
 * This "vimium0 vimium2" class can be added to any of our UI elements to give it a clean slate. This is useful in
 * case the page has declared a broad rule like "a { padding: 50px; }" which will mess up our UI. These
 * declarations contain more specifiers than necessary to increase their specificity (precedence).
 */
.vimium1.vimium0/**,
a:visited.vimium1,
a:link.vimium1,
a:hover.vimium1 /**/ {
  background-image: none;
  background: none;
  border-image: none;
  border: none;
  bottom: auto;
  box-shadow: none;
  color: black;
  cursor: auto;
  display: block;
  float: none;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  left: auto;
  letter-spacing: 0;
  line-height: 100%;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: static;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  vertical-align: baseline;
  white-space: normal;
  width: auto;
  z-index: 99999990;
}
.vimium2.vimium0 {
  background-image: none;
  background: none;
  border-image: none;
  border: none;
  bottom: auto;
  box-shadow: none;
  color: inherit;
  cursor: auto;
  display: inline;
  float: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  height: auto;
  left: auto;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  overflow: visible;
  padding: 0;
  position: static;
  right: auto;
  text-align: inherit;
  text-decoration: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  text-transform: inherit;
  top: auto;
  vertical-align: inherit;
  white-space: inherit;
  width: auto;
  z-index: auto;
}

/* Linkhints CSS */

.internalVimiumHintMarker.vimium0 {
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;
  padding: 1px 3px 0px 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
  border: solid 1px #C38A22;
  border-radius: 3px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  z-index: 99999994;
  color: #302505;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.internalVimiumHintMarker > .matchingCharacter {
  color: #D4AC3A;
}

/* Input hints CSS */

.internalVimiumInputHint.vimium0 {
  position: absolute;
  display: block;
  background-color: rgba(255, 247, 133, 0.3);
  border: solid 1px #C38A22;
}

.internalVimiumSelectedInputHint.vimium0 {
  background-color: rgba(255, 102, 102, 0.3);
  border: solid 1px #993333 !important;
}

/* Help Dialog CSS */

#vimiumHelpDialog {
  opacity:0.92;
  background-color:#eee;
  position:fixed;
  border: none; /* 2px solid #b3b3b3; */
  border-radius:6px;
  padding:8px 12px;
  width:640px;
  max-height: 85%;
  left:50%;
  /* This needs to be 1/2 width to horizontally center the help dialog */
  margin-left:-320px;
  top:50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;
  overflow-y: auto;
  z-index:99999992;
}

#vimiumTitle {
  display: block;
  line-height: 130%;
  font-size:20px;
}

.vimiumColumnBox.vimium0 {
  width:50%;
  float:left;
  font-size: 12px;
  line-height: 130%;
}
.vimiumColumnBox > .vimiumHelpTable {
  width: 100%;
  table-layout: auto;
  padding: 0;
  margin: 0;
}
.vimiumColumn > .vimiumHelpTr {
  display: table-row;
  padding: 0;
  margin: 0;
}
.vimiumColumn > tr > .vimiumHelpTd {
  display: table-cell;
  font-size: 12px;
  line-height: 130%;
  margin: 0;
  vertical-align: top;
  padding: 1px;
}

#vimiumHelpDialog .vimiumHelpShortKey {
  max-width: 40px;
}
.vimiumHelpShortKey > .vimiumHelpShortKey2 {
  white-space: nowrap;
  font-weight: bold;
  color: #2f508e;
  float: right;
}
/* Make the description column as wide as it can be. */
#vimiumHelpDialog .vimiumHelpCommandInfo {
  width: 100%;
}
#vimiumHelpDialog .vimiumHelpSectionTitle {
  font-weight: bold;
  padding-top: 3px;
}
/* Advanced commands are hidden by default until you show them. */
/* #vimiumHelpDialog .vimiumHelpAdvanced { display: none; } */
/* #vimiumHelpDialog .vimiumHelpCommandName { font-family: "Courier New"; } */
/* #vimiumHelpDialog .vimiumHelpCommandInfo { color: #555; } */

#vimiumHelpDialog .vimiumHelpLink {
  text-decoration: underline;
  color: blue;
}
#vimiumHelpDialog > .vimiumCloseButton {
  position:absolute;
  right:7px;
  top:5px;
  font-family:"courier new";
  font-weight:bold;
  color:#555;
  text-decoration:none;
  font-size:20px;
}
#vimiumHelpDialog > .vimiumCloseButton:hover {
  color: black;
  -webkit-user-select: none;
}
#vimiumHelpDialog > .vimiumOptionsPage {
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 130%;
  right: 60px;
  top: 8px;
}

#vimiumHelpDialogFooter {
  display: block;
  position: relative;
  font-size: 12px;
}
#vimiumHelpDialogFooter > .vimiumColumn2 {
  width: 50%;
  float: left;
  font-size: 12px;
  line-height: 130%;
}
#vimiumHelpDialogFooter > .vimiumToggleAdvancedCommands {
  font-size: 10px;
  position: absolute;
  right: 2px;
  top: -34px;
}

/* Vimium HUD CSS */

.vimiumHUD.vimium0 {
  display: block;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 0px;
  color: black;
  height: 13px;
  min-height: 13px;
  width: auto;
  max-width: 400px;
  min-width: 150px;
  text-align: left;
  background-color: #ebebeb;
  padding: 3px 3px 2px 3px;
  margin: 0;
  border: 1px solid #b3b3b3;
  border-radius: 4px 4px 0 0;
  font-family: "Lucida Grande", "Arial", "Sans";
  font-size: 12px;
  /* less than vimium's hint markers, so link hints can be shown e.g. for the panel's close button. */
  z-index: 99999993;
  text-shadow: 0px 1px 2px #FFF;
  line-height: 1.0;
  opacity: 0;
}
/* Hide the span between search box letters */
/* .vimiumHUD span {
  display: none;
} */
.vimiumHUD > .vimiumWebStore,
.vimiumHUD > .vimiumWebStore:hover {
  background: transparent;
  color: blue;
  text-decoration: underline;
}
.vimiumHUD > .vimiumCloseButton {
  float:right;
  font-family: "Courier New";
  font-weight:bold;
  color:#9C9A9A;
  text-decoration:none;
  padding-left:10px;
  margin-top:-1px;
  font-size:14px;
  background: transparent;
  text-decoration: underline;
}
.vimiumHUD > .vimiumCloseButton:hover {
  color:#333333;
  cursor:default;
  -webkit-user-select:none;
}

/* Vomnibar CSS */

#vomnibar {
  position: fixed;
  width: 80%;
  min-width: 400px;
  top: 70px;
  left: 50%;
  margin: 0 0 0 -40%;

  background: #F1F1F1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  border: 1px solid #aaa;
  /* less than hint markers and the help dialog. */
  z-index: 99999991;
}
#vomnibarSearchArea {
  padding: 10px;
}
#vomnibarInput {
  font-size: 20px;
  height: 34px;
  padding: 4px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #E8E8E8;
  box-shadow: #444 0px 0px 1px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}
#vomnibarList {
  list-style: none;
  padding-bottom: 3px;
  display: block;
  border-top: 1px dashed #C6C9CE;
}

#vomnibarList > .vomnibarCompletion {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px 3px 10px;
  position: relative;
  display: list-item;
  white-space: nowrap;
}
#vomnibarList > .vomnibarCompletion:last-of-type {
  border-bottom-style: none;
  margin-bottom: -3px;
  padding-bottom: 6px;
}
#vomnibarList > .vomnibarCompletion:hover {
  background-color: #CFDDEF;
}
#vomnibarList > .vomnibarCompletion.vomnibarSelected {
  background-color: #BBCEE9;
}

.vomnibarTopHalf.vimium0 {
  display: block;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  overflow: hidden;
}
.vomnibarSource.vimium0 {
  position: absolute;
  color: #777;
}
.vomnibarTitle.vimium0 {
  margin-left: 51px;
}
.vomnibarTitle > .vomnibarMatch {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}

.vomnibarBottomHalf.vimium0 {
  display: block;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  margin-top: 2px;
  overflow: hidden;
}
.vomnibarIcon.vimium0 {
  background-position: 30px 50%;
  background-size: 16px;
  background-repeat: no-repeat;
}
.vomnibarUrl.vimium0 {
  display: inline-block;
  max-width: 100%;
  margin-left: 51px;
  color: #224684;
  font-family: Consolas, "Liberation Mono", "Courier New", monospace;
}
.vomnibarUrl > .vomnibarMatch {
  color: black;
  font-weight: bold;
}
.vomnibarRelevancy.vimium0 {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 5px;
  font-family: monospace;
  width: 100px;
}

#vimiumFlash.vimium0 {
  box-shadow: 0px 0px 4px 2px #4183C4;
  padding: 1px;
  position: absolute;
  z-index: 99999999;
}

.vimiumScroll::-webkit-scrollbar,
.vimiumScroll::-webkit-scrollbar-track,
.vimiumScroll::-webkit-scrollbar-thumb,
.vimiumScroll::-webkit-scrollbar-button {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}
.vimiumScroll::-webkit-scrollbar:vertical {
  width: 10px;
}
.vimiumScroll::-webkit-scrollbar:horizontal {
  height: 10px;
}
.vimiumScroll::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}
.vimiumScroll::-webkit-scrollbar-thumb,
.vimiumScroll::-webkit-scrollbar-thumb:window-inactive,
.vimiumScroll::-webkit-scrollbar-track:hover,
.vimiumScroll::-webkit-scrollbar-button {
  background: rgba(96, 96, 96, 0.4);
}
.vimiumScroll::-webkit-scrollbar-thumb:hover,
.vimiumScroll::-webkit-scrollbar-button:hover {
  background: rgba(0, 0, 0, 0.6);
}