/*
 * The z-indexes of Vimium elements are very large, because we always want them to show on top. Chrome may
 * support up to Number.MAX_VALUE, which is approximately 1.7976e+308. We're using 2^31, which is the max
 * value of a singed 32 bit int. Let's try larger valeus if 2**31 empirically isn't large enough.
 *
 *
 * R: Reset; S: Selected
 *
 * HMC: HintMarkerContainer; LH: LinkHint; MC: MatchingCharacter;
 * IMC: InputMarkerContainer, IH: InputHint;
 * HUD: HUD; O: vOmnibar; OI: vOmnibarItem
 *
 */
.R {
	background: none;
	border: none;
	box-shadow: none;
	box-sizing: content-box;
	color: black;
	cursor: auto;
	direction: ltr;
	display: block;
	float: none;
	font: normal normal normal 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;
	letter-spacing: 0;
	line-height: 100%;
	margin: 0;
	opacity: 1;
	overflow: hidden;
	padding: 0;
	text-align: left;
	text-overflow: clip;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
}

/* Linkhints CSS */
#HMC {
	font-weight: bold;
	overflow: visible;
	pointer-events: none;
	position: absolute;
	/* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); */
	white-space: nowrap;
	z-index: 2147483646;
}
.LH {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
	border: 1px solid #E3BE23;
	border-radius: 3px;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	padding: 1px 3px 0 3px;
	position: absolute;
}
.MC {
	color: #d4ac3a;
}

/* Input hints CSS */
#IMC {
	left: 0px;
	overflow: visible;
	pointer-events: none;
	position: absolute;
	top: 0px;
	z-index: 2147483645;
}
.IH {
	background-color: rgba(255, 247, 133, 0.3);
	border: 1px solid #C38A22;
	display: block;
	position: absolute;
}
.IH.S {
	background-color: rgba(255, 102, 102, 0.3);
	border: 1px solid #993333;
}

/* HUD CSS */
.HUD {
	background-color: #ebebeb;
	border: 1px solid #b3b3b3;
	border-radius: 4px 4px 0 0;
	bottom: 0;
	height: 14px;
  line-height: 14px;
	max-width: 300px;
	min-width: 150px;
	padding: 2px 3px;
	position: fixed;
	right: 150px;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* less than hint markers', so link hints can be shown e.g. for the panel's close button. */
	z-index: 2147483646;
}

/* Flash */
.Flash {
	box-shadow: 0 0 4px 2px #4183C4;
	padding: 1px;
	pointer-events: none;
	position: fixed;
	z-index: 2147483647;
}
