:host{border:none!important;contain:none!important;height:0!important;margin:0!important;
opacity:1!important;outline:none!important;padding:0!important;position:static!important;
transform:none!important;width:0!important;display:contents!important}:host:before,:host:after{display:none!important}
.R{background:none;border:none;box-sizing:content-box;cursor:auto;float:none;font-size-adjust:none;
letter-spacing:normal;line-height-step:0;margin:0;opacity:1;outline:none;padding:0;text-align-last:auto;text-indent:0;
text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;
-webkit-writing-mode:horizontal-tb;all:initial;display:block;text-align:left;unicode-bidi:normal;
color:#000;contain:layout style;direction:ltr;font:12px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
pointer-events:none;position:fixed;user-select:none;z-index:2147483647}
.HM{font-weight:bold;position:absolute;white-space:nowrap}.DHM::backdrop{background:#0000}
.LH{background:linear-gradient(#fff785,#ffc542);border:0.5px solid #e3be23;border-radius:3px;
box-shadow:0 3px 5px #0000004d;overflow:hidden;padding:2.5px 3px 2px;position:absolute}
.IH{background:#fff7854d;border:0.5px solid #c38a22;position:absolute}
.IHS{background:#f664;border-color:#933}
.HUD{bottom:-1px;font-size:14px;height:20px;line-height:16px;max-width:336px;min-width:152px;overflow:hidden;
padding:4px 4px 1px;right:152px;text-overflow:ellipsis;white-space:nowrap}
.HUD:after{background:#eee;border-radius:4px 4px 0 0;border:0.5px solid #bbb;content:"";position:absolute;z-index:-1}
.HUD.UI{cursor:text;height:24px}.Find{cursor:text;position:static;width:100%}
.Flash{box-shadow:0 0 4px 2px #4183c4;padding:1px}.AbsF{padding:0;position:absolute}.Sel{box-shadow:0 0 4px 2px #fa0}
.Frame{border:5px solid #ff0}.Frame,.HUD:after{box-sizing:border-box;height:100%;left:0;top:0;width:100%}
.Omnibar{left:calc(10vw - 12px);top:64px;width:calc(80vw + 24px)}.O2{left:calc(10% - 12px);width:calc(80% + 24px)}
.BH{color:#902809}.MC,.MH{color:#d4ac3a}.One{border-color:#fa7}.UI,.DHM{pointer-events:all}
.D>.LH{background:linear-gradient(#cb0,#c80)}.HUD.D{color:#ccc}.HUD.D:after{background:#222}
body.HM>.LH{background:#000}body.Flash{outline:4px solid #fff}
/*#find*/
::selection { background: #ff9632 !important; }
html, body, * { user-select: auto; }
*{cursor:text;font:14px/16px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;outline:none;white-space:nowrap}
.r{all:initial;background:#fff;border-radius:3px 3px 0 0;box-shadow:inset 0 0 1.5px 1px #aaa;color:#000;
cursor:text;display:flex;height:21px;padding:4px 4px 0}.r.D{background:#1e1e1e;color:#d4d4d4}
#s{flex:0 0 4px}#i{flex:0 1 auto;height:16px;min-width:9px;margin-left:2px;overflow:hidden;padding:0 2px 0 0}
#h{flex:1 0 auto}br{all:inherit!important;display:inline!important}#c{flex:0 0 auto;margin-left:2px}
#s:after,#c:after{content:attr(data-vimium);display:inline}
:host,body{background-color:#eee!important;margin:0!important}:host(.D),body.D{background-color:#222!important}
@media(-ms-high-contrast:active){.HC.r:not(#r){background:none}
.HC.r:after{border:0.5px solid #aaa;bottom:0;content:"";left:0;position:fixed;right:0;top:0;z-index:-1}}