/*
 * R: Reset; ***S: Selected
 *
 * HM: HintMarkerContainer; LH: LinkHint; MC: MatchingCharacter; IH: InputHint;
 * HUD: HUD;
 *
 */
.R {
	background: none;
	border: none;
	box-sizing: content-box;
	cursor: auto;
	float: none;
	font-size-adjust: none;
	letter-spacing: normal;
	line-height-step: 0;
	margin: 0;
	opacity: 1;
	outline: none;
	padding: 0;
	text-align-last: auto;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	word-spacing: normal;
	all: initial;
	color: black;
	contain: layout style;
	display: block;
	font: 12px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
	pointer-events: none;
	position: fixed;
	text-align: left;
	-webkit-user-select: none;
	user-select: none;
	z-index: 2147483647;
}

:host {
	border: none !important;
	contain: layout style !important;
	display: unset;
	height: 0 !important;
	margin: 0 !important;
	opacity: 1 !important;
	outline: none !important;
	padding: 0 !important;
	position: static !important;
	transform: none !important;
	width: 0 !important;
}

:host:before, :host:after {
	display: none !important;
}

/* Link hints CSS */
.HM {
	font-weight: bold;
	position: absolute;
	white-space: nowrap;
}
.LH {
	background: linear-gradient(#FFF785, #FFC542);
	border: 0.5px solid #E3BE23;
	border-radius: 3px;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	overflow: hidden;
	padding: 1px 3px 0;
	position: absolute;
}
.BH {
	color: #902809;
}
.MC {
	color: #D4AC3A;
}

/* Input hints CSS */
.IH {
	background-color: rgba(255, 247, 133, 0.3);
	border: 0.5px solid #C38A22;
	position: absolute;
}
.IHS {
	background-color: rgba(255, 102, 102, 0.3);
	border-color: #933;
}

/* HUD CSS */
.HUD {
	background-color: #EEE;
	border: 0.5px solid #B3B3B3;
	border-radius: 4px 4px 0 0;
	bottom: 0;
	height: 14px;
	line-height: 14px;
	max-width: 312px;
	min-width: 150px;
	padding: 2px 3px;
	right: 150px;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* less than hint markers', so link hints can be shown e.g. for the panel's close button. */
}

/* Flash CSS */
.Flash {
	box-shadow: 0 0 4px 2px #4183C4;
	contain: strict;
	padding: 1px;
}

.Frame {
	border: 5px solid yellow;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.One {
	border-color: lightsalmon;
}

/* Interactive */
.UI {
	pointer-events: all;
}

/* Vomnibar CSS */
.Omnibar {
	left: calc(10% - 12px);
	top: 64px;
	width: calc(80% + 24px);
}
