/* NOTE: This stylesheet is included in both options.html and popup.html.  So changes here affect
   both of these. */
body {
  font: 14px "Arial", sans-serif;
  margin: 0 auto;
}
a, a:visited {
  color: #15c;
  cursor: pointer;
}
a[href], a:hover {
  text-decoration: underline;
}
a:active {
  color: #052577;
  outline: none;
}
header {
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding: 20px 0 15px 0;
}
button, select {
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font-size: 12px;
  height: 24px;
  outline: none;
  padding: 0 10px;
  text-shadow: 0 1px 0 #f0f0f0;
}
button:hover, select:hover {
  background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
  color: black;
}
button:active, select:active {
  background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}
button[disabled] {
  color: #888;
}
button.left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
}
select.right {
  -webkit-padding-start: 0px;
  -webkit-padding-end: 17px;
  border-bottom-left-radius: 0;
  border-left-style: none;
  border-top-left-radius: 0;
  margin-left: -4px;
  width: 0;
}
select.right:focus {
  border-left-style: solid;
  margin-left: -5px;
}

pre, code, .code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
pre {
  margin: 5px;
  border-left: 1px solid #ccc;
  padding-left: 5px;
}
td {
  padding: 0;
  vertical-align: top;
}

input, textarea {
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: black;
  font: inherit;
  outline: none;
  padding: 3px;
  white-space: nowrap;
  width: 100%;
}
input[type=number] {
  width: 66px;
  margin-right: 4px;
  text-align: center;
  text-indent: 16px;
}
input[type=number]::-webkit-inner-spin-button {
  margin-left: 1px;
}
input[type=checkbox] {
  position: relative;
  top: 2px;
  width: auto;
}
input[type=text]:read-only,
input[type=number]:read-only,
textarea:read-only {
  background-color: #ebebe4;
  color: #444;
}
input:disabled, textarea:disabled {
  color: #444;
}
button:focus, input:focus, select:focus, textarea:focus {
  -webkit-transition: border-color 200ms;
  border-color: #4d90fe;
}

#wrapper, #footerWrapper {
  width: 890px;
  margin-left: 35px;
}
#wrapper {
  border-spacing: 0 23px;
  margin-bottom: 30px;
  margin-top: -23px;
}
.info {
  margin-left: 4px;
}
.caption {
  margin-right: 10px;
  min-width: 130px;
  padding-top: 3px;
  vertical-align: top;
}
.hide {
  display: none;
}
#linkHintCharacters {
  margin-top: 1px;
}
.min-height-4 {
  padding-bottom: 2px;
  min-height: 75px;
}
#keyMappings {
  min-height: 134px;
}
#searchEngines {
  min-height: 116px;
  line-height: 18px;
}
#keyboard, #localeEncoding {
  width: 120px;
  text-align: center;
}
/* Make the caption in the settings table as small as possible, to pull the other fields to the right. */
.caption {
  width: 1px;
  white-space: nowrap;
}
.example {
  font-size: 12px;
  line-height: 16px;
  color: black;
}
.help {
  padding-left: 20px;
  width: 300px;
}
.help-inner {
  color: black;
  font-size: 12px;
  height: 0;
  line-height: 16px;
  position: relative;
  top: -2px;
  width: 300px;
}
.help-inner.line-2x {
  top: 4px;
}

/* Boolean options have a tighter form representation than text options. */
td.booleanOption { font-size: 12px; }
/* Ids and classes for rendering exclusionRules */
#exclusionRules {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 130px;
  min-height: 77px;
  border-radius: 2px;
  color: #444;
  width: 100%;
  box-sizing: border-box;
}
#exclusionRulesTable {
  width: 100%;
}
.exclusionRulePassKeys {
  width: 33%;
}
.exclusionRemoveTd {
  vertical-align: middle;
  width: 1px; /* 1px; smaller than the button itself. */
}
.exclusionRemoveButton {
  -webkit-user-select: none;
  border: none;
  background-color: #fff;
  color: #979ca0;
  padding: 1px 6px;
  font-size: small;
}
.exclusionRemoveButton:hover {
  color: #444;
}
.exclusionRemoveButton:focus {
	color: #4d90fe;
}
.pattern, .passKeys, .exclusionHeaderText {
  width: 100%;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;
}
.exclusionHeaderText {
  padding-left: 3px;
  color: #798086;
  margin-right: 1px;
}
.exclusionMask {
  padding: 0 6px;
  visibility: hidden;
}
#exclusionToolbar {
  margin-top: 5px;
}
#exclusionButtons {
  float: right;
}
#exclusionAddButton {
  visibility: visible;
}
#exclusionSortButton {
  width: 80px;
}
#footer {
  background: #f5f5f5;
  border-top: 1px solid #979ca0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  white-space: nowrap;
  z-index: 10;
}
#footerWrapper {
  height: 30px;
  line-height: 16px;
  padding: 3px 0;
}
#helpText {
  float: left;
  font-size: 12px;
  margin-left: 2px;
}
#saveOptionsTableData {
  float: right;
  padding: 3px 0;
}
#advancedOptionsButton {
  width: 156px;
}
#saveOptions {
  width: 103px;
}
#settingFileManager {
  float: right;
  margin-left: 20px;
  width: 300px;
}
