html {
  --panel-background-color: #f3f3f3;
  --input-focus-border-color: #4d90fe;
  --button-hover-color: black;
  --button-hover-border-color: #a0a0a0;
  --select-shape: url(
      'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><polygon points="0,1 6,1 3,7"/></svg>'
      );
  --icon-button-hover-color: #444;
  --icon-button-active-color: #4d90fe;
  --link-color: #15c;
  --link-hover-color: #15c;
  --link-active-color: #052577;
  --tiny: 0.5px;
}
.less-motion {
  --transition-duration: 0;
}
@media (prefers-color-scheme: dark) {
  .auto-dark {
    --plain-color: #abb0b5;
    --background-color: #000;
    --panel-background-color: #18191b;
    --heading-color: #c6cbd2;
    --heading-border-color: #555;
    --item-caption-color: #aab0b6;
    --deprecated-color: #888;
    --tip-color: pink;
    --help-hover-color: #abb0b5;
    --vim-color: #9bf;
    --c-char-color: #e6ccb3;
    --code-block-border-color: #666;
    --darker-filter: brightness(0.8);
    --link-color: #5b96f5;
    --link-hover-color: #8ab4f8;
    --link-active-color: #8ab4f8;
    --input-color: #d4d4d4;
    --read-only-color: #bbb;
    --read-only-background-color: #30343c;
    --placeholder-color: #888;
    --input-border-color: #777;
    --highlight-background-color: #59594c;
    --error-background-color: #50140c;
    --input-focus-border-color: #004fa3;
    --button-color: #bdc2c7;
    --button-disabled-color: #abb0b5;
    --button-background-color: #18191b;
    --button-border-color: #5f6368;
    --button-hover-color: #bdc2c7;
    --button-hover-background-color: #30343c;
    --button-active-background-color: #0c0c0e;
    --button-hover-border-color: #84878b;
    --icon-button-hover-color: #8ab4f8;
    --icon-button-active-color: #5b96f5;
    --select-shape: url(
        'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><polygon points="0,1 6,1 3,7" fill="%23bbb"/></svg>'
        );
    --select-option-background-color: #333;
    --state-color: #8ab4f8;
  }
}

body {
  font: 14px "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB"
    ,"Microsoft YaHei","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  margin: 0;
}
body.dialog-ui {
  margin-right: 25px;
}
:focus {
  outline-color: var(--input-focus-border-color);
}
a, a:visited {
  color: #15c;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}
a[href], a:hover {
  text-decoration: underline;
}
a:hover {
  color: #15c;
  color: var(--link-hover-color);
}
a:active {
  color: #052577;
  color: var(--link-active-color);
  outline: none;
}
header {
  /* keep 1px so it can be more conspicuous than 0.5px */
  border-bottom: 1px solid #ddd;
  border-color: var(--heading-border-color, #ddd);
  border-width: 1px !important;
  color: var(--heading-color);
  font-size: 18px;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  padding: 20px 0 15px 0;
}
.dialog-ui header {
  padding: 0 0 3px 0;
}
button, select {
  border: 0.5px solid #b3b3b3;
  border-width: var(--tiny);
  border-color: var(--button-border-color, #b3b3b3);
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  color: var(--button-color, #444);
  font: 12px/1 "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB"
    ,"Microsoft YaHei","Heiti SC","WenQuanYi Micro Hei",sans-serif !important;
  height: 24px;
  outline: none;
  padding: 0 10px;
  text-align: center;
}
button { 
  background-image: none;
}
button.fixed-size {
  padding: 0;
}
button:lang(zh), select:lang(zh) {
  font-size: 13px !important;
}
.dialog-ui button {
  margin-right: 0;
}
button:disabled {
  color: #888;
  color: var(--button-disabled-color, #888);
}
button.left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-style: none;
  margin: 0;
}
select.right {
  -webkit-padding-start: 0;
  -webkit-padding-end: 17px;
  -webkit-appearance: none;
  background: url(
'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><polygon points="0,1 6,1 3,7"/></svg>'
    ) 8px 8px / 7px 7px no-repeat border-box,
    #efefef 0 / auto border-box;
  background-image: var(--select-shape);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 0 !important;
  vertical-align: top;
  width: 22px;
}
button, select, select.right {
  background-color: #efefef;
  background-color: var(--button-background-color, #efefef);
}
button:hover:not(:disabled), select:hover {
  background-color: #e5e5e5;
  background-color: var(--button-hover-background-color, #e5e5e5);
  border-color: #a0a0a0;
  border-color: var(--button-hover-border-color);
  color: black;
  color: var(--button-hover-color);
}
button:active:hover, select:active {
  background-color: #f5f5f5;
  background-color: var(--button-active-background-color, #f5f5f5);
}
button.left:hover+select.right {
  border-left-color: #a0a0a0;
  border-left-color: var(--button-hover-border-color);
}
button.left:focus+select.right {
  border-left-color: #4d90fe;
  border-left-color: var(--input-focus-border-color);
}
select.right > option {
  background-color: #f3f3f3;
  background-color: var(--select-option-background-color, #f3f3f3);
  font-size: 13px;
  text-align: left;
}
select > option.option-hr {
  font-size: 7px;
  text-align: center;
}
select.font-fix {
  font-size: 13px !important;
}

pre, kbd, .code {
  font-family: Consolas, "Liberation Mono", "Courier New", "PingFang SC", "Hiragino Sans GB",
    "Heiti SC", "WenQuanYi Micro Hei", monospace;
}
pre, .help-block {
  margin: 5px;
  /* keep 1px so it can be more conspicuous than 0.5px */
  border-left: 0.5px solid #ccc;
  border-width: var(--tiny);
  border-color: var(--code-block-border-color, #ccc);
  padding-left: 5px;
}
td {
  padding: 0;
  vertical-align: top;
}

input, textarea {
  background-color: white;
  background-color: var(--background-color, white);
  border: 0.5px solid #bfbfbf;
  border-width: var(--tiny);
  border-color: var(--input-border-color, #bfbfbf);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--input-color);
  font: inherit;
  height: 28px;
  padding: 3px;
  white-space: pre;
  width: 100%;
}
input[type=text], textarea {
  line-height: 17px;
  outline: none;
}
input[type=number] {
  outline: none;
  text-align: center;
  text-indent: 16px;
  width: 66px;
}
input[type=number]::-webkit-inner-spin-button {
  margin-left: 1px;
}
input[type=checkbox] {
  height: 12px;
  margin: 1px 3px;
  outline: none;
  padding: 0;
  vertical-align: text-top;
  width: 12px;
}
input[type=text]:read-only,
input[type=number]:read-only,
textarea:read-only {
  background-color: #ebebe4;
  background-color: var(--read-only-background-color, #ebebe4);
  color: #444;
  color: var(--read-only-color, #444);
}
input:disabled, textarea:disabled {
  color: #444;
  color: var(--read-only-color, #444);
}
input::-webkit-input-placeholder, input::placeholder {
  color: #bfbfbf;
  color: var(--placeholder-color, #bfbfbf);
}
input::-ms-input-placeholder {
  color: #bfbfbf;
  color: var(--placeholder-color, #bfbfbf);
}
button:focus, input:focus, select:focus, textarea:focus {
  transition: border-color 200ms;
  transition-duration: var(--transition-duration, 200ms);
  border-color: #4d90fe;
  border-color: var(--input-focus-border-color);
}
label:active {
  outline: none;
}
.sel-all {
  -webkit-user-select: all;
  user-select: all;
}

#advanced {
  padding-top: 0;
}
#wrapper, #footerWrapper {
  width: 890px;
  margin-left: 35px;
}
#wrapper {
  border-spacing: 0 23px;
  margin-bottom: 37px;
  margin-top: -23px;
}
.icon {
  float: left;
  margin: -16px 4px 0 0;
  width: 48px;
  height: 48px;
}
.Vim {
  color: #2f508e;
  color: var(--vim-color, #2f508e);
}
.C {
  color: #a55e18;
  color: var(--c-char-color, #a55e18);
}
.caption {
  color: #333;
  color: var(--item-caption-color, #333);
  margin-right: 10px;
  min-width: 130px;
  padding-top: 3px;
  vertical-align: top;
  /* Make the caption in the settings table as small as possible, to pull the other fields to the right. */
  white-space: nowrap;
  width: 1px;
}
.hidden {
  display: none;
}
.float-right {
  float: right;
}
.checkboxWrapper {
  float: left;
  margin-right: 5px;
}
#linkHintCharacters, #linkHintNumbers {
  margin-top: 1px;
}
.min-height-4 {
  padding-bottom: 2px;
  min-height: 75px;
}
#vomnibarOptions {
  line-height: 16px;
  min-height: 124px;
}
#keyMappings {
  min-height: 165px;
}
.ref-text {
  cursor: pointer;
}
#searchEngines {
  min-height: 117px;
  line-height: 18px;
}
#keyboard, #localeEncoding {
  width: 165px;
  text-align: center;
}
.info, .tip {
  color: #999;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  margin-left: 4px;
}
.tip {
  color: darkred;
  color: var(--tip-color, darkred);
  height: unset;
  white-space: pre-line;
  word-break: break-all;
}
.help {
  padding-left: 20px;
  width: 300px;
  color: #777;
}
#wrapper:hover .help {
  color: black;
  color: var(--help-hover-color, black);
}
.help-inner {
  font-size: 12px;
  height: 0;
  line-height: 16px;
  position: relative;
  top: -2px;
  width: 300px;
}
.line-help {
  top: -6px;
}
.line-input {
  top: 6px;
}
.line-2x {
  top: 0px;
}
.line-2x:lang(zh) {
  top: 2px;
}
.wrap-space {
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.wrap-left-space {
  margin-left: 0.25em;
}
.wrap-left-space:lang(zh) {
  margin-left: 0;
}
.break-all {
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  word-break: break-all;
}
.deprecated {
  color: darkgray;
  color: var(--deprecated-color, darkgray);
  text-decoration: line-through;
}
.highlight, .debugging {
  background: lightyellow;
  background-color: var(--highlight-background-color, lightyellow);
}
.has-error {
  background: #fbebe9;
  background-color: var(--error-background-color, #fbebe9);
}

/* Boolean options have a tighter form representation than text options. */
.booleanOption {
  padding-top: 1px;
}
.booleanOption.innerLine {
  display: inline-block;
  line-height: 22px;
}
.checkboxHint:active { outline: none; }
/* Ids and classes for rendering exclusionRules */
#exclusionRules {
  box-sizing: border-box;
  color: #444;
  margin: -2px 0 3px 0;
  max-height: 141px;
  min-height: 81px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
#exclusionTable {
  border-spacing: 2px;
  width: 100%;
}
.exclusionPassKeysTd {
  width: 33%;
}
.exclusionRemoveTd {
  width: 24px;
}
.remove {
  cursor: default;
  display: inline-block;
  height: 16px;
  line-height: 0;
  margin: 6px 4px 0;
  color: #979ca0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.4;
  width: 16px;
}
.remove:hover {
  color: #444;
  color: var(--icon-button-hover-color);
}
.remove:active {
  color: #4d90fe;
  color: var(--icon-button-active-color);
  outline: none;
}
.btn_svg {
  height: 16px;
  stroke: currentColor;
  width: 16px;
}
.exclusionHeader {
  color: #444;
  display: inline-block;
  font: 14px/16px "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB"
    ,"Microsoft YaHei","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  height: 16px;
  padding-left: 3px;
}
#exclusionAddButton {
  overflow: hidden;
  overflow: crop;
  visibility: visible;
  width: 76px;
}
#exclusionSortButton {
  margin-right: 4px;
  overflow: hidden;
  overflow: crop;
  padding: 0 7px;
  width: 76px;
}
#footer {
  background: #f3f3f3;
  background: var(--panel-background-color);
  border-top: 0.5px solid #979ca0;
  border-width: var(--tiny);
  bottom: 0;
  left: 0;
  padding: 6px 0 0;
  position: fixed;
  right: 0;
  white-space: nowrap;
  z-index: 10;
}
#footerWrapper {
  height: 30px;
  line-height: 16px;
}
#helpText {
  float: left;
  font-size: 12px;
  line-height: 16px;
  margin: -4px 0 0 2px;
  width: 268px;
}
#footerButtons {
  display: inline-block;
  text-align: right;
  width: 300px;
}
#advancedOptionsButton {
  width: 148px;
}
#saveOptions {
  width: 96px;
}
#settingFileManager {
  position: absolute;
  margin-left: 20px;
}
#o37:lang(zh) {
  padding-top: 0;
  transform: translateY(-3px);
  line-height: 20px;
}
#o38 {
  padding-top: 1px;
}
@media (min-width: 1067px) {
  #wrapper, #footerWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  }
  #footerButtons {
    width: 390px;
  }
  #wrapper {
    left: calc(50vw - 50%);
    position: relative;
  }
  #footerWrapper {
    margin-left: calc(50vw - 490px);
  }
}
@media (max-width: 1066.99px) and (min-width: 977px) {
  #wrapper, #footerWrapper {
    width: calc(100% - 70px);
  }
  #footerButtons {
    width: calc(100% - 590px);
  }
}
@media (max-width: 999.99px) {
  .booleanOption.innerLine > .checkboxHint {
    font-size: 12px;
  }
}
@media (max-width: 879.99px) and (min-width: 550px) {
  #footerWrapper {
    float: right;
    margin-right: -60px;
  }
}
@media (max-width: 549.99px) and (min-width: 300px) {
  #footerWrapper {
    float: left;
    margin-left: -295px;
  }
}
@media (max-width: 299.99px) {
  #wrapper {
    margin-bottom: 0;
  }
  #footer {
    position: relative;
    width: 925px;
  }
  #footerWrapper {
    float: none;
  }
}
.dialog-ui #wrapper {
  margin: -23px 0 37px 35px;
  width: 890px;
}
.dialog-ui #footer {
  position: fixed;
  width: unset;
}
.dialog-ui #footerWrapper {
  float: none;
  margin-left: 35px;
  margin-right: 0;
  width: 890px;
}
.dialog-ui #footerButtons {
  width: 300px;
}
.masked::-webkit-input-placeholder {
  color: #777;
  font-style: italic;
}
.masked::placeholder {
  color: #777;
  font-style: italic;
}
button::-moz-focus-inner {
  border: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--button-hover-color);
}

@supports (-moz-appearance: none) {
  #keyMappings {
    min-height: 182px;
  }
  input.text-bottom[type=checkbox] {
    vertical-align: text-bottom;
  }
}
@supports (display: -ms-grid) {
  option:hover {
    color: var(--icon-button-active-color);
  }
  option:checked {
    color: var(--link-color);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-color, white);
    color: var(--plain-color, black);
  }
  .icon, input[type=checkbox] {
    filter: var(--darker-filter, none);
  }
  button:disabled {
    background: linear-gradient(var(--button-background-color),var(--button-background-color)) !important;
  }
  .exclusionHeader {
    color: var(--item-caption-color);
  }
}
@media (-ms-high-contrast:active) {
  * {
    border-radius:0 !important;
  }
}
