body {
  font: 14px "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  margin: 0;
}
body.chrome-ui {
  margin-right: 25px;
}
a, a:visited {
  color: #15c;
  cursor: pointer;
  text-decoration: none;
}
a[href], a:hover {
  text-decoration: underline;
}
a:active {
  color: #052577;
  outline: none;
}
header {
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding: 20px 0 15px 0;
}
header.chrome-ui {
  padding: 0 0 5px 0;
}
button, select {
  -webkit-user-select: none;
  user-select: none;
  background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: 12px Arial,sans-serif !important;
  height: 24px;
  outline: none;
  padding: 0 10px;
  text-shadow: 0 1px 0 #f0f0f0;
}
button.chrome-ui {
  margin-right: 0;
}
select.chrome-ui {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAQAAACxSAwfAAAAUklEQVQY02P4z0AMRGZGMaShwCisyhITmb8huMzfEhOxKvuvsGAh208Ik+3ngoX/FbBbClcIUcSAw21QhXxfIIrwKAMpfNsEUYRXGVCEFc6CQwBqq4CCCtU4VgAAAABJRU5ErkJggg=="),
    -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  background-position: right center;
  background-repeat: no-repeat;
  margin-right: 0;
}
button:hover, select:hover {
  background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  border-color: rgba(0, 0, 0, 0.3);
  color: black;
}
button:active, select:active {
  background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}
button[disabled] {
  color: #888;
}
button.left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
  position: relative;
  z-index: 1;
}
select.right {
  -webkit-padding-start: 0;
  -webkit-padding-end: 17px;
  background-color: #eee;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  line-height: 15px;
  margin-left: -5px;
  min-width: 0;
  position: relative;
  width: 0;
}
select.right:focus {
  z-index: 1;
}

#exclusionRulesTable,
pre, code, kbd, .code {
  font-family: Consolas, "Liberation Mono", "Courier New", "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "Heiti SC", "WenQuanYi Micro Hei", monospace;
}
pre {
  margin: 5px;
  border-left: 1px solid #ccc;
  padding-left: 5px;
}
td {
  padding: 0;
  vertical-align: top;
}

input, textarea {
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: black;
  font: inherit;
  height: 28px;
  outline: none;
  padding: 3px;
  white-space: pre;
  width: 100%;
}
input[type=number] {
  text-align: center;
  text-indent: 16px;
  width: 66px;
}
input[type=number]::-webkit-inner-spin-button {
  margin-left: 1px;
}
input[type=checkbox] {
  height: 13px;
  margin: 3px;
  padding: 0;
  position: relative;
  top: 2px;
  vertical-align: bottom;
  width: 13px;
}
input[type=text]:read-only,
input[type=number]:read-only,
textarea:read-only {
  background-color: #ebebe4;
  color: #444;
}
input:disabled, textarea:disabled {
  color: #444;
}
button:focus, input:focus, select:focus, textarea:focus {
  transition: border-color 200ms;
  border-color: #4d90fe;
}
label:active {
  outline: none;
}
.sel-all {
  -webkit-user-select: all;
  user-select: all;
}

#wrapper, #footerWrapper {
  width: 890px;
  margin-left: 35px;
}
#wrapper {
  border-spacing: 0 23px;
  margin-bottom: 37px;
  margin-top: -23px;
}
.info {
  margin-left: 4px;
}
.caption {
  margin-right: 10px;
  min-width: 130px;
  padding-top: 3px;
  vertical-align: top;
}
.hide {
  display: none;
}
.float-right {
  float: right;
}
.checkboxWrapper {
  float: left;
  margin-right: 5px;
}
#linkHintCharacters {
  margin-top: 1px;
}
.min-height-4 {
  padding-bottom: 2px;
  min-height: 75px;
}
#keyMappings {
  min-height: 134px;
}
#searchEngines {
  min-height: 116px;
  line-height: 18px;
}
#keyboard, #localeEncoding {
  width: 165px;
  text-align: center;
}
/* Make the caption in the settings table as small as possible, to pull the other fields to the right. */
.caption {
  width: 1px;
  white-space: nowrap;
}
.example {
  font-size: 12px;
  line-height: 16px;
  color: black;
}
.help {
  padding-left: 20px;
  width: 300px;
}
.help-inner {
  color: black;
  font-size: 12px;
  height: 0;
  line-height: 16px;
  position: relative;
  top: -2px;
  width: 300px;
}
.help-inner.line-1x {
  top: 5px;
}
.help-inner.line-2x {
  top: 4px;
}
.wrap-space {
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.wrap-left-space {
  margin-left: 0.25em;
}

/* Boolean options have a tighter form representation than text options. */
.booleanOption.innerLine > .checkboxHint,
.booleanOption:not(.innerLine) {
  font-size: 12px;
  padding-top: 1px;
}
.checkboxHint:active { outline: none; }
/* Ids and classes for rendering exclusionRules */
#exclusionRules {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 130px;
  min-height: 77px;
  border-radius: 2px;
  color: #444;
  width: 100%;
  box-sizing: border-box;
}
#exclusionRulesTable {
  width: 100%;
}
.exclusionRulePassKeys {
  width: 33%;
}
.exclusionRemoveTd {
  padding: 0px 1px;
  vertical-align: middle;
  width: 1px; /* 1px; smaller than the button itself. */
}
.exclusionRemoveButton {
  -webkit-user-select: none;
  user-select: none;
  border: none;
  background-color: #fff;
  color: #979ca0;
  cursor: default;
  font-size: small;
  font-family: "Segoe UI Symbol", monospace;
  padding: 5px;
}
.exclusionRemoveButton:hover {
  color: #444;
  text-decoration: none;
}
.exclusionRemoveButton:active {
  color: #4d90fe;
}
.exclusionHeaderText {
  padding-left: 3px;
  color: #798086;
  margin-right: 1px;
}
.exclusionMask {
  visibility: hidden;
}
#exclusionToolbar {
  margin-top: 5px;
}
#exclusionAddButton {
  visibility: visible;
}
#exclusionSortButton {
  margin-right: 4px;
  width: 80px;
  padding: 0 7px;
}
#footer {
  background: #f3f3f3;
  border-top: 1px solid #979ca0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  white-space: nowrap;
  z-index: 10;
}
#footerWrapper {
  height: 30px;
  line-height: 16px;
  padding-top: 6px;
}
#helpText {
  float: left;
  font-size: 12px;
  margin: -3px 0 0 2px;
  width: 305px;
}
#advancedOptionsButton {
  width: 156px;
}
#saveOptions {
  width: 103px;
}
#settingFileManager {
  position: absolute;
  margin-left: 20px;
}
