
#bgLink {
  position: absolute;
  z-index: -1;
}

#shownText {
  display: inline-block;
  font-size: large;
}

#textBox {
  display: inline-block;
  margin: 2px 0 0 20px;
}

#textTip::after {
  color: gray;
  content: attr(data-tip);
  display: inline-block;
  font-style: italic;
  width: 55px;
}

.colon::after {
  color: gray;
  content: ": ";
  font-style: italic;
}

#textBody {
  display: inline-block;
  padding: 0 5px;
}

.null::after {
  color: lightgray;
  content: "(null)";
}

.invert {
  -webkit-filter: invert();
}

img.invert::selection {
  background: none;
}
