
body.close {
  margin: 0;
}
.close > img {
	outline: none;
}
.hidden {
	visibility: hidden;
}
.zoom-in {
	cursor: zoom-in;
}

#bgLink {
  position: absolute;
  z-index: -1;
}

#shownText {
  display: inline-block;
  font-size: large;
}

#textBox {
  display: inline-block;
  margin: 2px 0 0 20px;
}

#textTip::after {
  color: gray;
  content: attr(data-text);
  display: inline-block;
  font-style: italic;
  width: 55px;
}

.colon::after {
  color: gray;
  content: ": ";
  font-style: italic;
}

#textBody {
  display: inline-block;
  padding-left: 4px;
}

#textBody::after {
  color: transparent;
  content: ".";
}

.null::after {
  color: lightgray;
  content: "(null)";
}

img.invert {
  -webkit-filter: invert();
  background: white;
}

img.invert::selection {
  background: none;
}

.viewer-title {
	font-size: 16px;
	height: 20px;
}

.viewer-next, .viewer-prev {
	visibility: hidden;
}
